# 이 파일은 본 프로젝트와 무관하며
# github에서 이 프로젝트가 Go언어로 작성되었다고 표기되게 하기 위함이다.

# Go를 제외한 모든 주요 웹 확장자를 통계에서 제외
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.ts linguist-vendored
*.json linguist-vendored

# 프론트엔드 폴더 전체를 구조적으로 제외
frontend/* linguist-vendored
